<section class="principal">
  <div class="disponibilidad">
    <h1 class="librosDisponibles">#{{this.datas.length}} Libros Disponibles</h1>    
  </div>  
  <div class="filtros">
    <div class="paginas">
      <label>Filtrado por pagina : {{range1.value}}  </label>
      <br>
      <input type="range"  id="" min="150" max="1200" step="150" (input)="changeRange($event,rangeInput1)" #range1>
      <input type="number" min="1" max="36" (input) = "changeRange($event, range1)" #rangeInput1 hidden>
    </div>
    <div  class="genero" >
      <label>Filtrado por Genero: {{tipoPelicula}}</label>
      <br>      
      <select (change)="filterTipo($event)" >
        <option value="Fantasía">Fantasía</option>
        <option value="Ciencia ficción">Ciencia ficción</option>
        <option value="Zombies">Zombies</option>
        <option value="Terror">Terror</option>
      </select>
    </div>
  </div>
  <br>
  <div class="data">
    <div *ngFor="let dt of datas; let i = index" class="dataCard">
      <img class="card" src={{dt.book.cover}} alt={{dt.book.title} title={{dt.book.pages}}>
      <button class="btn btn-primary" (click)="addList(dt.book.title,i)">Add to List</button>
    </div>      
  </div>
  <br>
  <div class="verLibros">
    <app-list-books class="lista"></app-list-books>
  </div>
</section>