.data{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 10px;
}

.img{
  width: 7vw;
  height: 7vw;
  border: 2px solid black;
  font-size: 10px;
}

.card{
  border: 2px solid black;
  align-items: center;
  justify-content: center;
}